@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'New Tegomin';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/newtegomin/NewTegomin-Regular.ttf') format('truetype');
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-newtegomin: 'New Tegomin';
  --breakpoint-xs: 30rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



#github-link + .select-arrow, #fb-link + .select-arrow, #ig-link + .select-arrow {
  opacity: 0;
}
#github-link:hover + .select-arrow, #fb-link:hover + .select-arrow, #ig-link:hover + .select-arrow {
  animation: select-arrow-anim 0.7s infinite ease-out;
}

@keyframes select-arrow-anim {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}