@import "tailwindcss";
@import "./fonts.css";

:root {
  --background: #e7e4eb;
  --background2: #cbc8d0;
  --foreground: #2b2727;
  --blue1: #006aff;
  --blue2: #418cf5;
  --blue3: #45bef3;
  --red1: #ff0059;
  --red2: #ff4989;
}

@theme inline {
  --color-background: var(--background);
  --color-background2: var(--background2);
  --color-foreground: var(--foreground);
  --color-blue1: var(--blue1);
  --color-blue2: var(--blue2);
  --color-blue3: var(--blue3);
  --color-red1: var(--red1);
  --color-red2: var(--red2);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-newtegomin: 'New Tegomin';
  --font-mplusrounded1c: 'M PLUS Rounded 1c';
  --breakpoint-xs: 30rem;
}

* {
  transition: all 300ms;
}
*::selection {
  background-color: #006aff40;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-paw {
  background-image: url("/img/bg-50.png");
  background-size: 160px 160px;
  background-repeat: repeat;
}

.topic {
  padding-top: 3rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 900;
}
@media (min-width: 640px) {
  .topic {
    padding-top: 3rem;
    text-align: center;
    font-size: 3.25rem;
    font-weight: 900;
  }
}
@media (min-width: 1024px) {
  .topic {
    padding-top: 3rem;
    text-align: center;
    font-size: 3.75rem;
    font-weight: 900;
  }
}

.text-glow {
  text-shadow: 0px 0px 10px #ffffff,
               0px 0px 10px #ffffff,
               0px 0px 10px #ffffff,
               0px 0px 10px #ffffff,
               0px 0px 10px #ffffff;
}